Name: {{ v.FirstName }} "{{ v.Nickname }}" {{ v.LastName }}
Description:
  Face: {{ v.FaceDesc }}
  Body: {{ v.BodyDesc }}
Mannerisms: {{ v.Mannerisms }}
Demeanor: {{ v.Demeanor }}
Ideals: {{ v.Ideals }}
Bonds: {{ v.Bonds }}
Flaws: {{ v.Flaws }}
Random Fact: {{ v.RandomFact }}
