{{ v.FirstName }} "{{ v.Nicknames }}" {{ v.LastName }}
Description:
  Face: {{ v.FaceStuff }}
  Body: {{ v.BodyStuff }}
Mannerisms:
{% for m in v.Mannerisms -%}
    - {{ m }}
{% endfor -%}
Demeanor: {{ v.Demeanor }}
Ideals: {{ v.Ideals }}
Bonds: {{ v.Bonds }}
Flaws: {{ v.Flaws }}
Random Fact: {{ v.RandomFact }}
